@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");

.App {
  font-family: Hind, Helvetica, Arial, sans-serif;
  background: #fcf8ee;
  padding: 0 1rem;
}

/* START - CSS reset */

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Monda", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input {
  font: inherit;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

/* END - CSS reset */
